[submodule "cqekernel"]
	path = cqekernel
	url = https://github.com/nbarker2021/cqekernel.git
[submodule "MannyAI"]
	path = MannyAI
	url = https://github.com/nbarker2021/MannyAI.git
[submodule "PaperEcology"]
	path = PaperEcology
	url = https://github.com/nbarker2021/Paper-Ecology.git
[submodule "CMPLX-Standards"]
	path = CMPLX-Standards
	url = https://github.com/nbarker2021/CMPLX-Standards.git
[submodule "forge-base"]
	path = forge-base
	url = https://github.com/nbarker2021/forge-base.git
